/*----------------------------------------*/
/*  COPYRIGHT
/*----------------------------------------*/

.copyright {
    background-color: rgb(84, 116, 159);
   /* background-color: #134C58;*/
    padding: 23px 0;
}

.copyright h3 {
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 22px;
    font-size: 18px;
    margin: 0;
}