/*----------------------------------------*/
/*  PIE
/*----------------------------------------*/

.pie {
    background-color:#444545;
    padding: 20px;
}

.pie h2 {
    color: #fff;
    font-family: "Axis Bold";
    font-size: 35px;
    margin: 0;
    text-transform: uppercase;
}

.pie img{
    width: 150px;
    height: 120px;
}

.pie .fa {
  padding: 10px;
  margin: 10px;
  font-size: 40px;
  width: 45px;
  height: 45px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}

.pie .fa:hover {
    /*opacity: 0.7;*/
    box-shadow: 0 2px 7px 0 rgb(84, 116, 159), 0 2px 7px 0 rgb(84, 116, 159);
}

.pie .fa-facebook {
  background: #3B5998;
  color: white;
}

.pie .fa-twitter {
  background: #55ACEE;
  color: white;
}

.pie .fa-youtube {
  background: #bb0000;
  color: white;
}

.pie .fa-instagram {
  background: #125688;
  color: white;
}

