/*----------------------------------------*/
/*  LOGO
/*----------------------------------------*/

#logoimg{
    width: 250px;
    height: 100px;
}

.logo {
    z-index: 20;
    background-color: #fff;
}

/*----------------------------------------*/
/*  CUERPO
/*----------------------------------------*/

.cuerpo{
    /*    width: 90vw;
        margin: 2rem auto;*/
    /*display: grid;*/
    grid-template-areas: "nocabeza cabeza cabeza"
        "left right right"
        "nopie pie pie"
        "nocr cr cr";
}

.cuerpo-caja {
    /*    font-size: 2.5rem;*/
    /*    text-align: center;*/
    /*    padding: 1rem;*/
}

.cuerpo-cabeza {
    grid-area: cabeza;
    background-color: white;
}
.cuerpo-nocabeza {
    grid-area: nocabeza;
}

.cuerpo-central {
    grid-area: main;
    background-color: white;
}

.cuerpo-derecho {
    grid-area: right;
    background-color: white;
}

.pie {
    grid-area: pie;
    background-color:#444545;
    padding: 20px 0;
    text-align: center;
}

.pie h2 {
    color: #fff;
    font-family: "Axis Bold";
    font-size: 25px;
    margin: 0;
    text-transform: uppercase;
}

.pie img{
    width: 150px;
    height: 120px;
}
.copyright {
    
    grid-area: cr;
    background-color: rgb(84, 116, 159);
    /* background-color: #134C58;*/
    padding: 15px 0;
}

.copyright h3 {
    color: #fff;
    font-weight: 200;
    letter-spacing: 0.1px;
    line-height: 22px;
    font-size: 14px;
    margin: 0;
    text-align: center;
}

.button {
    background: rgb(84, 116, 159) none repeat scroll 0 0;
    border: medium none;
    color: white;
    display: inline-block;
    font-weight: 700;
    margin-top: 1px;
    padding: 12px 40px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}


.button:hover {
    background: #3B5998 none repeat scroll 0 0;
}

input[type=text]{
    text-align: center;
    width: 45%;
    transition: width 0.4s ease-in-out;
    padding: 10px;
}

input[type=text]:focus{
    border: 1.5px solid #3B5998;
    text-align: center;
    width: 50%;
}

input[type=password]{
    text-align: center;
    width: 45%;
    transition: width 0.4s ease-in-out;
    padding: 10px;
}

input[type=password]:focus{
    width: 50%;
    border: 2px solid #3B5998;
    text-align: center;
}