.logoimg2{
    width: 180px;
    height: 78px;
    z-index: 20;
    margin-left: 80px;
}

.divMenu{
    color:#fff;
    background-color: black;
    position: fixed;
    left: -3%;
    top:70px;
    height: 90%;
}

.mainMenu{
    width: 310px;
    display: block;
    overflow: hidden;
    margin-right: 0px;
}

.item{
    border-bottom: 1px solid;
    border-bottom-color: #33393F;
    overflow: hidden;
}

.btn{
    color: white;

    display: block;

    padding: 15px 20px;
    background-color: black;
    color: #fff;
    position: relative;
    text-decoration: none;
}
.btn:hover{
    background-color: #1E1E1E;
}

.btn:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right:8px solid transparent;
    border-top:10px solid lightgray;
    right: 15px;
    bottom: -10px;
    z-index: 9;

}

.btn i {
    margin-right: 30px;
}

.subMenu{
    background: #273057;
    overflow: hidden;
    transition: max-height 1s;
    max-height: 0;
    text-decoration: none;
}
#icon{
    position: relative;
    right: 15px;
    top:5px;
}

#textoIni{
    text-align: center;
    position: relative;
    left:10px;
    bottom: 20px;
}

a #subIcon{
    margin-right: 40px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
    left:12px;
    top: 10px;

}
#textoSub{
        text-align: initial;
}
.subMenu a{
    display: block;
    padding: 15px 20px 15px 15px;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #394c7f;
    position: relative;
    text-decoration: none;

}
.subMenu a:before{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;
}

.subMenu a:hover:before{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    left: 0;
    top:0;
    opacity: 1;
    border-top: 24px solid transparent;
    border-left: 11px solid white;
    border-bottom: 24px solid transparent;
}
.subMenu a:after{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}
.subMenu a:hover:after{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    right: 0px;
    top:0;
    opacity: 1;
    border-top: 24px solid transparent;
    border-right: 11px solid white;
    border-bottom: 24px solid transparent;
}

.subMenu a:hover{
    background: #273057;
    background: -moz-linear-gradient(top, #273057 0%, #273057 50%, #394c7f 51%, #394c7f 100%);
    background: -webkit-linear-gradient(top, #273057 0%,#273057 50%,#394c7f 51%,#394c7f 100%);
    background: linear-gradient(to bottom, #273057 0%,#273057 50%,#394c7f 51%,#394c7f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273057', endColorstr='#394c7f',GradientType=0 );
    transition: all 1s;
    border-bottom: 1px solid #394c7f;
}

.subMenu a:last-child{
    border:none;
}

.item:target .subMenu{
    max-height: 15em;
}