/*----------------------------------------*/
/*  IMPORTAMOS FUENTES DE INTERNET
/*----------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,700i|Roboto:300,300i,400,400i,500,700,900');

/*----------------------------------------*/
/*  GLOBAL
/*----------------------------------------*/
* {
	box-sizing: border-box;
}

body {
	color: #021F20;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	overflow-x: hidden;
	overflow-y: auto;
	visibility: visible;
	font-family: 'Roboto', sans-serif;
	background-image: url("/ProyectoBanco/images/bodyBack.png");
	background-repeat: round;
	background-attachment: fixed;
}