/*----------------------------------------*/
/*  MENÚ
/*----------------------------------------*/

.menu {
    color: #fff;
    position: fixed;
    background-color: #04A9CA;
    width: 100%;
    /*opacity: 0.9;*/
    font-size: 17px;
    z-index: 20;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.menu li {
    color: #fff;
    background-color: #04A9CA;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

.menu li a {
    color: #fff;
}

.menu li:hover {
    background: #134C58;
    cursor: pointer;
}

.menu ul li ul {
    visibility: hidden;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

.menu ul li:hover > ul, ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.menu ul li ul li {
    clear: both;
    width: 100%;
}

a, a::before, a::after {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}