/*----------------------------------------*/
/*  MENÚ
/*----------------------------------------*/

.menu {
    color: #fff;
    position: fixed;
    background-color: #04A9CA;
    width: 100%;
    /*opacity: 0.9;*/
    font-size: 17px;
    z-index: 20;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0.1rem;
}

.menu li {
    color: #fff;
    background-color: #04A9CA;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition: padding 300ms ease 0s;
}

.menu li a {
    color: #fff;
}

.menu li:hover {
    padding: 1.2rem;
    background: #134C58;
    cursor: pointer;
}


.menu ul li ul {
	padding-top:0;
	position: absolute;
        min-width: 5rem;
	margin-top: 1rem;
	visibility: hidden;
	transition: padding 1000ms ease 0s;

}
.menu ul:hover{
	display: block;	
	transition: display 1s;
}
.menu ul li:hover ul{
	visibility: visible;
	padding-top: 10px;
	opacity: 1; 
	display: block;
}
.menu ul li ul li {
	clear: both;
	width: 100%;
}
a, a::before, a::after {
  -webkit-transition: padding 0.3s ease;
  -moz-transition: padding 0.3s ease;
  -o-transition: padding 0.3s ease;
  transition: padding 0.3s ease;
  text-decoration: none;
}