/*----------------------------------------*/
/*  PIE
/*----------------------------------------*/

.pie {
	background-color:#444545;
	padding: 75px 0;
}

.pie h2 {
	color: #fff;
	font-size: 50px;
	margin: 0;
	text-transform: uppercase;
}