/*----------------------------------------*/
/*  IMPORTAMOS FUENTES DE INTERNET
/*----------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,700i|Roboto:300,300i,400,400i,500,700,900');

/*----------------------------------------*/
/*  GLOBAL
/*----------------------------------------*/
* {
	box-sizing: border-box;
}

body {
	color: #121212;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	overflow-x: hidden;
	overflow-y: auto;
	visibility: visible;
	font-family: 'Roboto', sans-serif;
	background-image: url("/ProyectoBanco/images/bg.jpg");
	background-repeat: round;
	background-attachment: fixed;
}

/*----------------------------------------*/
/*  1.  LOGO
/*----------------------------------------*/

#logoimg{
	width: 180px;
	height: 70px;
	z-index: 20;
}

#trianguloimg{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

}

.logo {
	z-index: 20;
	background-color: #fff;
}

/*----------------------------------------*/
/*  2. MENÚ
/*----------------------------------------*/

.menu {
	color: #fff;
    position: fixed;
	background-color: #6E2C00;
	width: 100%;
	/*opacity: 0.9;*/
	font-size: 17px;
	z-index: 20;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.menu li {
	color: #fff;
	background-color: #6E2C00;
	display: block;
	float: left;
	padding: 1rem;
	position: relative;
	text-decoration: none;
	transition-duration: 0.5s;
}
  
.menu li a {
	color: #fff;
}

.menu li:hover {
    background: #ca3210;
    cursor: pointer;
}

.menu ul li ul {
	visibility: hidden;
	min-width: 5rem;
	position: absolute;
	transition: all 0.5s ease;
	margin-top: 1rem;
	left: 0;
	display: none;
}

.menu ul li:hover > ul, ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

.menu ul li ul li {
	clear: both;
	width: 100%;
}

a, a::before, a::after {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

/*----------------------------------------*/
/*  3. CABEZA
/*----------------------------------------*/

.cabeza{
	background-color: rgba(255, 170, 15);
	background-image: url("/ProyectoBanco/images/bgcabeza.jpg");
	background-size:cover;
	display: grid;
	grid-template-areas: "left right";
}

.cabeza-caja {
	padding: 2rem;
}

.cabeza-izquierdo {
	grid-area: left;
}

.cabeza-derecho {
	grid-area: right;
}

.cabeza-contenido a {
	background: #ffffff none repeat scroll 0 0;
	border: medium none;
	color: #121212;
	display: inline-block;
	font-weight: 700;
	margin-top: 20px;
	padding: 12px 45px;
	text-transform: uppercase;
	text-decoration: none;
}

.cabeza-contenido a:hover, a:active{
	background: #ff7700;
	color: #fff;
	text-decoration: none;
}

@-webkit-keyframes fadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes fadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes fadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@keyframes fadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

#transicion-imagen {
	position:relative;
	height:281px;
	width:450px;
	margin:0 auto;
}

#transicion-imagen img {
	position:absolute;
	left:0;
	border-radius: 50%;
	height: 380px;
	width: 410px;
	border-left: 20px solid rgba(243, 139, 0);
}

#transicion-imagen img {
	-webkit-animation-name: fadeInOut;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 8s;

	-moz-animation-name: fadeInOut;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 8s;

	-o-animation-name: fadeInOut;
	-o-animation-timing-function: ease-in-out;
	-o-animation-iteration-count: infinite;
	-o-animation-duration: 8s;

	animation-name: fadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 8s;
}
#transicion-imagen img:nth-of-type(1) {
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-o-animation-delay: 6s;
	animation-delay: 6s;
}
#transicion-imagen img:nth-of-type(2) {
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
#transicion-imagen img:nth-of-type(3) {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}

/*----------------------------------------*/
/*  4. CUERPO
/*----------------------------------------*/

.cuerpo{
	height: 50vh;
	width: 90vw;
	margin: 2rem auto;
	display: grid;
	grid-template-areas: "left main right";
}

.cuerpo-caja {
	font-size: 2.5rem;
	text-align: center;
	padding: 2rem;
}

.cuerpo-izquierdo {
	grid-area: left;
}

.cuerpo-central {
	grid-area: main;
}

.cuerpo-derecho {
	grid-area: right;
}

.imagen-muestra{
	list-style-type: none;
	float: left;
}

.imagen-muestra li{
	float: left;
	padding: 0px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagen-muestra li:hover{
	box-shadow: 0 6px 20px 0 orange, 0 6px 20px 0 orange;
}

.imagen-muestra li:hover .muestra{
	opacity: 1;
}

.imagen-muestra li:hover img{
	opacity: 1;
	transform: scale(1.15,1.15);
	-webkit-transform:scale(1.15,1.15);
	-moz-transform:scale(1.15,1.15);
	-ms-transform:scale(1.15,1.15);
	-o-transform:scale(1.15,1.15);
}

.imagen-muestra img{
	margin: 0px;
	padding: 0px;
	float: left;
	z-index: 0;
	height: 250px;
	width: 300px;
}

.imagen-muestra .muestra{
	cursor: pointer;
	position: absolute;
	opacity: 0;
	-webkit-transition:all 0.45s ease-in-out;
	-moz-transition:all 0.45s ease-in-out;
	transition:all 0.45s ease-in-out;
}

.imagen-muestra img{
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	height: 250px;
	width: 300px;
}
.imagen-muestra .difuminado{
	background-color: rgba(0,0,0,0.65);
	height: 250px;
	width: 300px;
	z-index: 5;
	position: absolute;
}

.imagen-muestra .muestra-texto h1{
	font-size: 15px;
}

.imagen-muestra .muestra-texto{
	z-index: 10;
	color: #fff;
	position: absolute;
	height: 250px;
	width: 300px;
	text-align: center;
	top:100px;
}

/*----------------------------------------*/
/*  5. PIE
/*----------------------------------------*/

.pie {
	background-color: rgba(255, 150, 10);
	padding: 75px 0;
}

.pie h2 {
	color: #fff;
	font-size: 50px;
	margin: 0;
	text-transform: uppercase;
}

/*----------------------------------------*/
/*  6. COPYRIGHT
/*----------------------------------------*/

.copyright {
	background-color: #333;
	padding: 23px 0;
}

.copyright h3 {
	color: #fff;
	font-weight: 300;
	letter-spacing: 0.1px;
	line-height: 22px;
	font-size: 18px;
	margin: 0;
}